<div class="services">
    <div class="services-service">
        <img src="../../../../../assets/img/services/delivery.png" alt="">

        <div>
            <h4>services</h4>
            <p>Envío gratis en toda La Paz. O pedidos superiores a los $125 Bo.</p>
        </div>
    </div>

    <div class="services-service">
        <img src="../../../../../assets/img/services/delivery.png" alt="">

        <div>
            <h4>services</h4>
            <p>Envío gratis en toda La Paz. O pedidos superiores a los $125 Bo.</p>
        </div>
    </div>

    <div class="services-service">
        <img src="../../../../../assets/img/services/delivery.png" alt="">

        <div>
            <h4>services</h4>
            <p>Envío gratis en toda La Paz. O pedidos superiores a los $125 Bo.</p>
        </div>
    </div>

    <div class="services-service">
        <img src="../../../../../assets/img/services/delivery.png" alt="">

        <div>
            <h4>services</h4>
            <p>Envío gratis en toda La Paz. O pedidos superiores a los $125 Bo.</p>
        </div>
    </div>

</div>