/* UI KIT */
$color-primary   : #F6423E;
$color-secondary : #FF246D;

$color-black : #000000;
$color-gray: #EBEBEB;
$color-graydark: #666666;
$color-blue: #0089D0;
$color-purple: #4938A2;
$color-green: #1A9844;
$color-lightblue: #A1DFFF;
$color-white: white;