<div class="stores">
    <div class="stores-title">
        <h1 class="text-primary">TIENDAS OFICIALES</h1>
        <a href=""> Ver todas ></a>
    </div>
    <div class="stores-content">

        <owl-carousel-o [options]="storesOpptions">
            <ng-template carouselSlide>
                <div class="stores-content__card">
                    <div class="header">
                        <img src="../../../../../assets/img/store/logo.png" alt="">
                    </div>

                    <div class="body">
                        <img src="../../../../../assets/img/store/xbox.png" alt="">
                        <img src="../../../../../assets/img/store/xbox.png" alt="">
                    </div>
                    <div class="action">
                        <a href=""> Ver tienda</a>
                    </div>
                </div>
            </ng-template>  

            <ng-template carouselSlide>
                <div class="stores-content__card">
                    <div class="header">
                        <img src="../../../../../assets/img/store/logo.png" alt="">
                    </div>

                    <div class="body">
                        <img src="../../../../../assets/img/store/xbox.png" alt="">
                        <img src="../../../../../assets/img/store/xbox.png" alt="">
                    </div>
                    <div class="action">
                        <a href=""> Ver tienda</a>
                    </div>
                </div>
            </ng-template> 

            <ng-template carouselSlide>
                <div class="stores-content__card">
                    <div class="header">
                        <img src="../../../../../assets/img/store/logo.png" alt="">
                    </div>

                    <div class="body">
                        <img src="../../../../../assets/img/store/xbox.png" alt="">
                        <img src="../../../../../assets/img/store/xbox.png" alt="">
                    </div>
                    <div class="action">
                        <a href=""> Ver tienda</a>
                    </div>
                </div>
            </ng-template> 

            <ng-template carouselSlide>
                <div class="stores-content__card">
                    <div class="header">
                        <img src="../../../../../assets/img/store/logo.png" alt="">
                    </div>

                    <div class="body">
                        <img src="../../../../../assets/img/store/xbox.png" alt="">
                        <img src="../../../../../assets/img/store/xbox.png" alt="">
                    </div>
                    <div class="action">
                        <a href=""> Ver tienda</a>
                    </div>
                </div>
            </ng-template> 

            <ng-template carouselSlide>
                <div class="stores-content__card">
                    <div class="header">
                        <img src="../../../../../assets/img/store/logo.png" alt="">
                    </div>

                    <div class="body">
                        <img src="../../../../../assets/img/store/xbox.png" alt="">
                        <img src="../../../../../assets/img/store/xbox.png" alt="">
                    </div>
                    <div class="action">
                        <a href=""> Ver tienda</a>
                    </div>
                </div>
            </ng-template> 

            <ng-template carouselSlide>
                <div class="stores-content__card">
                    <div class="header">
                        <img src="../../../../../assets/img/store/logo.png" alt="">
                    </div>

                    <div class="body">
                        <img src="../../../../../assets/img/store/xbox.png" alt="">
                        <img src="../../../../../assets/img/store/xbox.png" alt="">
                    </div>
                    <div class="action">
                        <a href=""> Ver tienda</a>
                    </div>
                </div>
            </ng-template> 

        </owl-carousel-o>

    </div>
</div>