<div class="carousel-container">
    <h1 class="text-primary">TE PUEDE INTERESAR</h1>

    <owl-carousel-o [options]="categoriesOpptions">
        <ng-template carouselSlide>
          <div class="carousel-container__content">
              <img src="../../../../../assets/img/category/celulares.png" alt="">
              <P>Celulares</P>
          </div>
        </ng-template>  
      
        <ng-template carouselSlide>
          <div class="carousel-container__content">
              <img src="../../../../../assets/img/category/celulare.png" alt="">
              <P>Celulares</P>
          </div>
        </ng-template>  
      
        <ng-template carouselSlide>
          <div class="carousel-container__content">
              <img src="../../../../../assets/img/category/videojuegos.png" alt="">
              <P>Videojuegos</P>
          </div>
        </ng-template>  
      
        <ng-template carouselSlide>
          <div class="carousel-container__content">
              <img src="../../../../../assets/img/category/moda.png" alt="">
              <P>Moda</P>
          </div>
        </ng-template>  
      
        <ng-template carouselSlide>
          <div class="carousel-container__content">
              <img src="../../../../../assets/img/category/computacion.png" alt="">
              <P>Computación</P>
          </div>
        </ng-template>  
      
        <ng-template carouselSlide>
          <div class="carousel-container__content">
              <img src="../../../../../assets/img/category/audio.png" alt="">
              <P>Audio</P>
          </div>
        </ng-template>  
      
        <ng-template carouselSlide>
          <div class="carousel-container__content">
              <img src="../../../../../assets/img/category/televisores.png" alt="">
              <P>Televisores</P>
          </div>
        </ng-template>  
      
    </owl-carousel-o>
    
</div>