<div class="topbar">
    <div class="topbar-category">
        <button mat-button [matMenuTriggerFor]="menu">
            <img src="../../../../assets/img/navbar/icon-category.svg" alt="">
            <p>Todas las categorías</p>
            <img src="../../../../assets/img/icons/icon-more-red.svg" alt="">
        </button>
        <mat-menu #menu="matMenu">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
        </mat-menu>
    </div>
    <div class="topbar-navbar">
        <ul>
            <li>
                <a href="">
                    <img src="../../../../assets/img/navbar/icon-offert.svg" alt="">
                    <span>Ofertas</span>
                </a>
            </li>
            <li>
                <a href="">
                    <img src="../../../../assets/img/navbar/icon-label.svg" alt="">
                    <span>Vender</span>
                </a>
            </li>
            <li>
                <a href="">
                    <img src="../../../../assets/img/navbar/icon-store.svg" alt="">
                    <span>Tiendas Oficiales</span>
                </a>
            </li>
            <li>
                <a href="">
                    <img src="../../../../assets/img/navbar/icon-favorite.svg" alt="">
                    <span>Favoritos</span>
                </a>
            </li>
            <li>
                <a href="">
                    <img src="../../../../assets/img/navbar/icon-history.svg" alt="">
                    <span>Historia</span>
                </a>
            </li>
            <li>
                <a href="">
                    <img src="../../../../assets/img/navbar/icon-offert.svg" alt="">
                    <span>Ofertas</span>
                </a>
            </li>
        </ul>
    </div>
</div>