@import '../../../../sass/variable';

.topbar{
    padding: 0px 5%;
    display: flex;
    justify-content: space-between;
    background: $color-gray;
    box-sizing: border-box;
    &-category{
        border-right: 1px solid $color-graydark;
        @media( max-width: 600px){
            width: 100%;
            text-align: center;
            border: none;
        }
    }   
    &-navbar{
        display: flex;
        align-items: center;
        @media( max-width: 600px){
            display: none;
        }
        ul{
            list-style: none;
            display: flex;
            align-items: center;
            padding: 0;
            margin: 0;
            li{
                padding-left: 35px;
                a{
                    display: flex;
                    align-items: center;
                    text-decoration: none;
                    font-size: 14px;
                    color: $color-black;
                    img{
                        padding-right: 5px;
                    }
                }
            }
        }
    }
}