<div class="banner">
    <div class="banner-container">

        <owl-carousel-o [options]="bannerOptions">

            <ng-template carouselSlide>
                <div class="banner-container__content text">
                    <h2>Ahorra en los articulos más buscados</h2>
                    <p>Compra las últimas tendencias y los items del momento.</p>
                    <button class="btn-bg btn-bg-white"> Compra ahora</button>
                </div>
            </ng-template>  

            <ng-template carouselSlide>

                <div class="banner-container__content">
                    <img src="../../../../../assets/img/banner/zapatilla.png" alt="">
                    <a href="#"><p>Calzados <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg></p></a>
                </div>
            </ng-template>  

            <ng-template carouselSlide>

                <div class="banner-container__content">
                    <img src="../../../../../assets/img/banner/auriculares.png" alt="">
                    <a href="#"><p>Auriculares <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg></p></a>
                </div>
            </ng-template>  

            <ng-template carouselSlide>

                <div class="banner-container__content">
                    <img src="../../../../../assets/img/banner/laptop.png" alt="">
                    <a href="#"><p>Laptops <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg></p></a>
                </div>
            </ng-template>  

            <ng-template carouselSlide>

                <div class="banner-container__content">
                    <img src="../../../../../assets/img/banner/laptop.png" alt="">
                    <a href="#"><p>Laptops <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg></p></a>
                </div>
            </ng-template> 

            <ng-template carouselSlide>

                <div class="banner-container__content">
                    <img src="../../../../../assets/img/banner/laptop.png" alt="">
                    <a href="#"><p>Laptops <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg></p></a>
                </div>
            </ng-template> 

            <ng-template carouselSlide>

                <div class="banner-container__content">
                    <img src="../../../../../assets/img/banner/laptop.png" alt="">
                    <a href="#"><p>Laptops <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg></p></a>
                </div>
            </ng-template> 

            <ng-template carouselSlide>

                <div class="banner-container__content">
                    <img src="../../../../../assets/img/banner/laptop.png" alt="">
                    <a href="#"><p>Laptops <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg></p></a>
                </div>
            </ng-template> 

        </owl-carousel-o>

    </div>
</div>