<footer class="footer">
    <div class="footer-methodpay">
        <div>
            <img src="../../../../assets/img/footer/visa.png" alt="">
            <p>Visa</p>
        </div>
        <div>
            <img src="../../../../assets/img/footer/mastercard.png" alt="">
            <p>MasterCard</p>
        </div>
        <div>
            <img src="../../../../assets/img/footer/pagosnet.png" alt="">
            <p>Pagonet</p>
        </div>
        <div>
            <img src="../../../../assets/img/footer/redenlace.png" alt="">
            <p>Redenlace</p>
        </div>
    </div>

    <div class="footer-navbar">
        <div class="footer-navbar__about">
            <ul>
                <li>ACERCA DE BROOKLYN</li>
                <li><a href=""> Términos y Condiciones</a></li>
                <li><a href=""> Ayuda</a></li>
                <li><a href=""> Vende con Brooklyn</a></li>
                <li><a href=""> Inicia tu sesión</a></li>
            </ul>
        </div>

        <div class="footer-navbar__about">
            <ul>
                <li>SERVICIO AL CLIENTE</li>
                <li><a href=""> Términos y Condiciones</a></li>
                <li><a href=""> Ayuda</a></li>
                <li><a href=""> Vende con Brooklyn</a></li>
                <li><a href=""> Inicia tu sesión</a></li>
            </ul>
        </div>

        <div class="footer-navbar__about">
            <ul>
                <li>NOVEDADES   </li>
                <li><a href=""> Términos y Condiciones</a></li>
                <li><a href=""> Ayuda</a></li>
                <li><a href=""> Vende con Brooklyn</a></li>
                <li><a href=""> Inicia tu sesión</a></li>
            </ul>
        </div>

        <div class="footer-navbar__social">
            <ul>
                <li>SIGUENOS 
                    <a href="">
                        <img src="../../../../assets/img/footer/icon-facebook.svg" alt="">
                    </a>

                    <a href="">
                        <img src="../../../../assets/img/footer/icon-instagram.svg" alt="">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="../../../../assets/img/footer/googleplay.png" alt="">
                    </a>
                    <a href="">
                        <img src="../../../../assets/img/footer/appstore.png" alt="">
                    </a>
                </li>
            </ul>
        </div>

    </div>

    <div class="footer-copy">
        <p>© 2021 Brooklyn | Todos los derechos reservados.</p>
    </div>

</footer>