@import '../../../../sass/variable';

.footer{
    background: $color-gray;
    padding: 20px 5% 40px 5%;
    &-methodpay{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        border-bottom: 1px solid $color-graydark;

        > div {
            text-align: center;
            margin-bottom: 20px;

            img{
                width: 120px;
            }
            p{
                color: $color-graydark;
            }
        }
    }
    &-navbar{
        padding-top: 25px;
        padding-bottom: 80px;
        display: flex;
        justify-content: space-between;
        @media( max-width: 600px){
            flex-direction: column;
            > div{
                padding-bottom: 25px;
            }
        }
        ul{
            list-style: none;
        }
        li{
            color: $color-graydark;
            padding: 5px 0;
            font-size: 14px;
            &:nth-child(1){
                font-weight: bold;
            }
            a{
                text-decoration: none;
                color: $color-graydark;
            }
        }
        &__social{
            li{
                &:nth-child(1){
                    a{
                        padding-left: 15px;
                    }
                }
                &:nth-child(2){
                    display: flex;
                    flex-direction: column;
                    @media( max-width: 600px){
                        flex-direction: row;
                    }
                    a{
                        width: fit-content;
                    }
                    img{
                        width: 50%;
                        margin-top: 15px;
                        @media( max-width: 600px){
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
    &-copy{
        p{
            color: $color-graydark;
            font-size: 12px;
        }
    }
}