<div class="news">
    <h1 class="text-primary">NOVEDADES</h1>

    <owl-carousel-o [options]="newsOpptions">
        <ng-template carouselSlide>
            <div class="news-new" style="background:#4938A2;">
                <div class="news-new__description">
                    <p>ULTIMOS DÍAS</p>
                    <h3>Calzado adidas con 20% de dcto. en running</h3>
                    <button class="btn-anybg btn-anybg__white"> Ver más</button>
                </div>
                <div class="news-new__image" style="background-image: url(../../../../../assets/img/news/new-1.png);">

                </div>
            </div>
        </ng-template>  

        <ng-template carouselSlide>
            <div class="news-new" style="background:#1A9844;">
                <div class="news-new__description">
                    <p>ULTIMOS DÍAS</p>
                    <h3>Calzado adidas con 20% de dcto. en running</h3>
                    <button class="btn-anybg btn-anybg__white"> Ver más</button>
                </div>
                <div class="news-new__image" style="background-image: url(../../../../../assets/img/news/new-2.png);">

                </div>
            </div>
        </ng-template>  

    </owl-carousel-o>
</div>