@import '../../../../sass/variable';

.container-fixed{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 3;
}
.header{
    background-color: $color-primary;
    padding: 10px 5%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media( max-width: 600px){
        flex-direction: column;
    }
    &-logo{
        width: 15%;
        @media( max-width: 600px){
            display: flex;
            align-items: center;
            width: 100%;
            margin-bottom: 15px;
        }
        img{
            width: 80%;
            padding-left: 15px;
            @media( max-width: 600px){
                width: 50%;
            }
        }
    }
    &-search{
        width: 43%;
        position: relative;
        @media( max-width: 600px){
            width: 100%;
        }
        input{
            width: 100%;
            border: none;
            padding: 13px;
            box-sizing: border-box;
            border-radius: 5px;
            outline: none;
            font-size: 14px;
        }
        img{
            position: absolute;
            right: 10px;
            top: 0;
            bottom: 0;
            margin: auto;
        }
    }
    &-navigation{
        width: 25%;
        display: flex;
        justify-content: space-between;
        transition: all 400ms cubic-bezier(.47,1.64,.41,.8);

        @media( max-width: 600px){
            position: absolute;
            top: 150px;
            left: 0;
            right: 0;
            margin: auto;
            background: $color-primary;
            width: 100% !important;
            flex-direction: column;
            padding: 20px;
            padding-bottom: 0;
            box-sizing: border-box;
            > div {
                margin-bottom: 20px;
            }
        }
        &.hide{
            top: -150px;
        }
        >  div{
            display: flex;
            align-items: center;
            .icon{
                padding-right: 10px;
            }
            .dropdown{
                p{
                    color: $color-white;
                    font-weight: bold;
                    font-size: 14px;
                    margin: 0;
                }
                span{
                    font-size: 12px;
                    color: $color-white;
                }
            }
        }
    }
    &-actions{
        width: 10%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media( max-width: 600px){
            position: absolute;
            top: 20px;
            right: 80px;
        }
        > div{
            display: flex;
            align-items: center;
        }
        p{
            width: 25px;
            height: 25px;
            background: $color-black;
            border-radius: 50px;
            font-size: 14px;
            margin: 0;
            color: $color-white;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}




/* Menu burger */
.menu-icon {
    cursor: pointer;
    display: inline-block;
    padding: 0px;
    position: relative;
    user-select: none;
    display: none;
    
    @media (max-width:768px){
        display: inline-block;
    }
}

.menu-icon .navicon {
    background: $color-white;
    display: block;
    height: 4px;
    position: relative;
    transition: background .2s ease-out;
    width: 25px;
}


.menu-icon .navicon:before, .menu-icon .navicon:after {
    background: $color-white;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.menu-icon .navicon:before {
    top: 7px;
}

.menu-icon .navicon:after {
    top: -7px;
}

.menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
}

.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before, .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
}
.menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before, .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
}
.menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
}

.menu-btn:checked ~ .header-buttons {
    max-height: 240px;
}

input#menu-btn {
    display: none;
}