<div class="offers-container">
    <div class="stores-titles">
        <h1 class="text-primary">OFERTAS BROOKLYN</h1>
        <a href=""> Ver todas ></a>
    </div>

    <owl-carousel-o [options]="offersOpptions">
        <ng-template carouselSlide>
          <div class="offers-container__content">
              <div class="photo" style="background-image: url(../../../../../assets/img/product/tv.png); background-size: contain; background-position: center; background-repeat: no-repeat;">

              </div>
              <div class="description">
                  <span>$1.740</span>
                  <div class="price">
                      <h3>$1234</h3>
                      <h5>40% DTO.</h5>
                  </div>
              </div>
              
              <P>Refrigeradora Samsung Top Freezer Con Twin Cooling and others products related.</P>
              <a href="">Envío Gratis</a>
          </div>
        </ng-template>  
        
        <ng-template carouselSlide>
          <div class="offers-container__content">
              <div class="photo" style="background-image: url(../../../../../assets/img/product/tv.png); background-size: contain; background-position: center; background-repeat: no-repeat;">

              </div>
              <div class="description">
                  <span>$1.740</span>
                  <div class="price">
                      <h3>$1234</h3>
                      <h5>40% DTO.</h5>
                  </div>
              </div>
              <P>Refrigeradora Samsung Top Freezer Con Twin Cooling and others products related.</P>
              <a href="">Envío Gratis</a>
          </div>
        </ng-template> 

        <ng-template carouselSlide>
          <div class="offers-container__content">
              <div class="photo" style="background-image: url(../../../../../assets/img/product/tv.png); background-size: contain; background-position: center; background-repeat: no-repeat;">

              </div>
              <div class="description">
                  <span>$1.740</span>
                  <div class="price">
                      <h3>$1234</h3>
                      <h5>40% DTO.</h5>
                  </div>
              </div>
              
              <P>Refrigeradora Samsung Top Freezer Con Twin Cooling and others products related.</P>
              <a href="">Envío Gratis</a>
          </div>
        </ng-template> 

        <ng-template carouselSlide>
          <div class="offers-container__content">
              <div class="photo" style="background-image: url(../../../../../assets/img/product/tv.png); background-size: contain; background-position: center; background-repeat: no-repeat;">

              </div>
              <div class="description">
                  <span>$1.740</span>
                  <div class="price">
                      <h3>$1234</h3>
                      <h5>40% DTO.</h5>
                  </div>
              </div>
              
              <P>Refrigeradora Samsung Top Freezer Con Twin Cooling and others products related.</P>
              <a href="">Envío Gratis</a>
          </div>
        </ng-template> 

        <ng-template carouselSlide>
          <div class="offers-container__content">
              <div class="photo" style="background-image: url(../../../../../assets/img/product/tv.png); background-size: contain; background-position: center; background-repeat: no-repeat;">

              </div>
              <div class="description">
                  <span>$1.740</span>
                  <div class="price">
                      <h3>$1234</h3>
                      <h5>40% DTO.</h5>
                  </div>
              </div>
              
              <P>Refrigeradora Samsung Top Freezer Con Twin Cooling and others products related.</P>
              <a href="">Envío Gratis</a>
          </div>
        </ng-template> 

        <ng-template carouselSlide>
          <div class="offers-container__content">
              <div class="photo" style="background-image: url(../../../../../assets/img/product/tv.png); background-size: contain; background-position: center; background-repeat: no-repeat;">

              </div>
              <div class="description">
                  <span>$1.740</span>
                  <div class="price">
                      <h3>$1234</h3>
                      <h5>40% DTO.</h5>
                  </div>
              </div>
              
              <P>Refrigeradora Samsung Top Freezer Con Twin Cooling and others products related.</P>
              <a href="">Envío Gratis</a>
          </div>
        </ng-template> 
      
      </owl-carousel-o>

</div>